body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nlpContainer {
  margin-left: 30%;
  margin-right: 30%;
}
.getBarChart {
  width: 120px;
  height: 30px;
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}
.getchart:hover {
  background-color: lightgray;
}
.nlpContainer ul li{
  list-style-type: none;
}

.barChart {
  width: 500px;
  margin-left: 33%;
}
